@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-image: url(/imagenes/encendido-computadora-portatil-gris.jpg);
  }
  

.dataPer{
padding: 0px;
color: azure;
};

.dataPer h1{
    size: 60px;
};

.fotoPer img{
width: 1rem;
border-radius: 2rem;
box-sizing: border-box;

};

.box {
    border: 5px solid darkblue;
  }
