@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');


body {
  font-family: 'Roboto Mono', monospace;
  /* background-image: url(/imagenes/css-critico.jpg); */
  background: linear-gradient(to bottom right, #001122, #004488);
  margin: 0;
  padding: 0;

}

.modo-nocturno {
  background: #BABABA;
}


.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 100px;
  font-size: 25px;
}

/* LINEA DIVISORA CON ICONOS */

/* VIEJA */

/* #separation {
  width: 75%;
  margin: 70px auto;
  height: 2px;
  background-color: #000;
  border-radius: 0 0 50% 50%;
} */

/* NUEVA */

.section {
  padding: 20px;
}

.separation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

.separation::before,
.separation::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: black;
}

.separation::before {
  left: 15%;
  width: 40%;
  transform: translate(-20%, -50%);
}

.separation::after {
  right: 15%;
  width: 40%;
  transform: translate(20%, -50%);
}

.fa-laptop {
  font-size: 24px;
  position: relative;
  z-index: 2;
  background-color: linear-gradient(to bottom right, #001122, #004488);
  padding: 5px;
  border-radius: 50%;
}

.fa-phone-alt {
  font-size: 24px;
  position: relative;
  z-index: 2;
  background-color: linear-gradient(to bottom right, #001122, #004488);
  padding: 5px;
  border-radius: 50%;
}

/* FIN LINEA DIVISORA CON ICONOS*/
/* NAVBAR CON SUBRAYADO */
.nav a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.nav a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0.08rem;
  width: 100%;
  background-color: white;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.nav a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

/* NAVBAR CON SUBRAYADO / FIN */

/* PERSONA NOMINA */
.dataPer {
  padding: 0px;
  color: azure;
  width: 35%;
}

.title {
  text-align: center;
  margin: 0 auto 60px auto;
}

.fotoPer {
  padding: 10px;
  /* border: solid 3px #aaa; */
  border-radius: 3rem;
}

.fotoPer img {
  background-image: url("/imagenes/fotoCVTomas.jpg");
  width: 250px;
  border-radius: 3rem;
  box-sizing: border-box;
  border: solid 3px #aaa;
  padding: 1px;
  transition: 0.3s ease-in-out;
}

.fotoPer img:hover {
  transform: scale(1.1);
}

.boton-container {
  padding: 5px;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: fit-content;
  display: flex;
  margin-left: 200px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: fit-content;
  cursor: pointer;
}

.boton-container div {
  width: 16px;
  height: 16px;
}

.inglaterra {
  background-image: url("/imagenes/espana.png");
  background-repeat: no-repeat;
}

.espana {
  background-image: url("/imagenes/espana.png");
  background-repeat: no-repeat;
}

.boton-container h3 {
  margin: 0;
  width: fit-content;
  /* padding: 5px 15px; */
  transition: 0.3s ease-in-out;
}

.boton-container:hover {
  background-color: white;
}

#nomina {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* FIN NOMINA PERSONA */


#contact {
  padding: 0 0 20px 0;
}

.contactContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.logoContactContainer {
  padding: 10px 150px;
  border: 1px solid #000;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logoContactContainer:hover {
  transform: scale(1.2);
}

/* TARJETAS PRESENTACION PROYECTOS */

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.card {
  width: 400px;
  border: 1px solid #000;
  border-radius: 50px;
  position: relative;
  text-align: center;
  -webkit-box-shadow: #000;
  -moz-box-shadow: 0px 0px 45px 15px rgba(0, 128, 0, 0.77);
  box-shadow: 0px 0px 45px 15px rgba(26, 35, 126);
}

.card img {
  width: 90%;
  border-radius: 10px;
  transform: translateY(-10%);
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.2);
}

/* .botonVisita {
border: 1px solid #2e518b;
padding: 10px; 
background-color: #2e518b;
color: #ffffff; 
text-decoration: none; 
text-transform: uppercase;
font-family: 'Helvetica', sans-serif; 
border-radius: 15px; 
}  */

/* BOTON PARA VISITAR PRUEBA GRADIENTE */

button.visitar {
  font-size: 1rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 1s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.visitar:active {
  scale: 0.92;
}

.visitar:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

/* HASTA ACA BOTON */

.card h3 {
  color: #fff
}

/* FIN DE TARJETAS + BOTON-VISITA */

.title {
  color: #fff;
}

.gradient-background {
  background: linear-gradient(to bottom right, #001122, #004488);
  height: 100vh;
}

/* TECNOLOGIAS UTILIZADAS PEQUEÑAS CARDS */

.tech{
  display: flex;
  align-items: center;
  gap: 3px;
}

.tech img {
  height: 20px;
}

.techContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tech p {
text-align: center;
color: #BABABA

}

/* INTERRUPTOR LIGHT-DARK MODE */

.interruptor {
  position: relative;
  width: 100px;
  height: 50px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
  transform: scale(0.6);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}
