@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-image: url(/imagenes/encendido-computadora-portatil-gris.jpg);
  }
  

.dataPer{
padding: 0px;
color: azure;
}

.dataPer h1{
    size: 60px;
}

.fotoPer img{
width: 250px;
border-radius: 2rem;
box-sizing: border-box;
border: solid 2px #aaa;
padding: 5px;
}

.boton-container h3{
  border: 1px solid black;
  width: fit-content;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 5px 15px;
  transition: 0.3s ease-in-out;
}

.boton-container :hover {
  background-color: white;
}